<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 

  <style>
  
    .jumbotron {
      background-image: url('https://astrogeology.usgs.gov/images/backgrounds/mars.jpg');
      background-size: cover;
      overflow: auto;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 60px 0px;
    }
    .table{
      color: white;
      

    }     
    body {background-color: black
    }
    img {max-width: 40%;}
    h2 {color:tomato
    }  
    h3 {color:tomato
    }
      h4 {color:white
      }
      h5 {color:white
}

  </style>

</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg btn btn btn-danger" href="/scrape" role="button" >Scrape New Data</a></p>
    </div>
  </div>
    <h3>Latest Mars News</h3>
    <h4>{{mars_data.Title }}</h4>
    <h5>{{mars_data.News }}</h5>
    <h3>Current Weather on Mars</h3>
    <h5>{{mars_data.Mars_Weather }}</h5>
    <img src="{{mars_data.featured_mars_image}}" alt="Featured Mars Image"></img>

<div class="table-responsive">
    <h3>Mars Facts</h3>
<table class="table table-light">
    <td class="thead-dark">
      {{mars_data.Html_table |safe}}
    </table>
  </td>
    <img src="{{mars_data.cereberus_url}}" alt="Cereberus Hemisphere">
    <img src="{{mars_data.schiaparelli_url}}" alt="Schiaparelli Hemisphere">
    <img src="{{mars_data.syrtis_major_url}}" alt="Syrtis Major Hemisphere">
    <img src="{{mars_data.valles_url}}" alt="Valles Hemisphere">

  
  </div>
  </div>
  

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>

</html>
